:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0729f5;
    --yellow: #fafa10;
    --red: #ff0202;
    --ice: #4cf5ff;
    --orange: #ff7602;
    --gray: #716060;
    --silver: #c0c0c0 --bg: var(--white);
    --fontColor: var(--black);
}

.codingBackground {
    height: 100vh;
    width: 100vw;
    background-image: url(../IMGS/leaf\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.codingprjPG {
    position: relative;
    font-weight: 600;
    font-size: larger;
    font-family: 'Roboto';
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.codingprjPageNav {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: .8em;
    position: relative;
}

.codingprjPageNav a {
    color: var(--orange);
    font-weight: 600;
    text-decoration: none;
}

.codingprjPageNav a:hover {
    color: var(--blue);
}

.codingprjPageNav nav {
    position: relative;
    top: 0;
    left: 0;
    background: var(--blue);
    width: 100%;
}

.codingprjPageNav nav a {
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block;
}

.codingprjPageNav nav a:hover {
    background: #333;
    color: var(--green);
}

.codingProjTextBox {
    position: relative;
    left: 25%;
    right: 0;
    top: 5%;
    width: 50%;
    border-style: solid;
    border-color: var(--green);
    background-image: url(../IMGS/simple\ hexagonal\ bg.webp);
    
    
    background-repeat: repeat;
    border-width: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.codingProjHeader {
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 600;
    font-size: medium;
    font-family: 'Roboto';
    color: var(--black);
    text-align: center;
}

.diceRollerText {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 300;
    font-size: large;
    font-family: 'Roboto';
    color: var(--black);
    text-align: left;
}