:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0729f5;
    --yellow: #fafa10;
    --red: #ff0202;
    --ice: #4cf5ff;
    --orange: #ff7602;
    --gray: #716060;
    --silver: #c0c0c0 --bg: var(--white);
    --fontColor: var(--black);
}

.codingprjPG {
    position: relative;
    font-weight: 600;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.codingprjPageNav {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: .8em;
    position: relative;
}

.codingprjPageNav a {
    color: var(--orange);
    font-weight: 600;
    text-decoration: none;
}

.codingprjPageNav a:hover {
    color: var(--blue);
}

.codingprjPageNav nav {
    position: relative;
    top: 0;
    left: 0;
    background: var(--blue);
    width: 100%;
}

.codingprjPageNav nav a {
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block;
}

.codingprjPageNav nav a:hover {
    background: #333;
    color: var(--green);
}