:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --blue: #0729f5;
  --yellow: #fafa10;
  --red: #ff0202;
  --ice: #4cf5ff;
  --orange: #ff7602;
  --gray: #716060;
  --silver: #c0c0c0;
  --darkgrey: #121212;
  --lace: #FBF4E2;

  --bg: var(--white);
  --fontColor: var(--black);
}

header {
  position: relative;
  overflow: hidden;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: 'Roboto';
  font-size: 80pt;

  text-align: center;

  -webkit-user-select: none;
  user-select: none;

  color: var(--orange)
}

.site {
  padding: 2em 0;
  text-align: center;
  font-size: .8em;
  position: relative;
}

.site a {
  color: var(--orange);
  font-weight: 600;
  text-decoration: none;
}

.site a:hover {
  color: var(--blue);
}

.site nav {
  position: relative;
  top: 0;
  left: 0;
  background: var(--blue);
  width: 100%
}

.site nav a {
  padding: 10px 30px;
  font-size: 1.3em;
  display: inline-block
}

.site nav a:hover {
  background: #333;
  color: var(--green)
}

body {
  background: var(--bg);
  color: var(--fontColor);
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.textEdit {
  position: relative;
  z-index: 5;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  font-weight: 400;
  font-size: xx-large;
  font-family: 'Roboto';
}

.openPageText {
  position: relative;
  z-index: 5;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: 300;
  font-size: large;
  font-family: 'Roboto';
  text-align: left;
}

.dark-theme {
  --bg: var(--darkgrey);
  --fontColor: var(--white);
}

.light-theme {
  --bg: var(--lace);
  --fontColor: var(--black);
}

.themeButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: absolute;
  margin: auto;
  top: 10%;
  left: 80%;
  z-index: 0;
  border-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.themeButton:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.themeButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.lightsaber {
  width: 20px;
  height: 300px;
  position: relative;
  left: 2%;
  top: 17%;
  transform: translateX(-50%);
}

.saberTop {
  background-image: linear-gradient(to right,
      gray 0%, gray 12.5%,
      black 12.5%, black 25%,
      silver 37.5%, silver 37.5%,
      gray 37.5%, gray 62.5%,
      black 62.5%, gray 75%,
      silver 75%, silver 87.5%,
      gray 87.5%, gray 100%);
  background-color: var(--ice);
  width: 20px;
  height: 30px;
  border-radius: 10% 10% 10% 10%;
  z-index: 2;
}

.midTop {
  background-color: var(--black);
  height: 15px;
  width: 10px;
  border-radius: 0;
  margin: 0 auto;
}

.midMiddle {
  background-image: linear-gradient(to right,
      gray 0%, gray 12.5%,
      black 12.5%, black 25%,
      silver 37.5%, silver 37.5%,
      gray 37.5%, gray 62.5%,
      black 62.5%, gray 75%,
      silver 75%, silver 87.5%,
      gray 87.5%, gray 100%);
  background-color: var(--ice);
  height: 150px;
  width: 20px;
  border-radius: 10% 10% 10% 10%;
  margin: 0 auto;
}

.saberToggle {
  content: '';
  position: absolute;
  top: 20%;
  right: 0;
  left: 2px;
  ;
  height: 15px;
  width: 10px;
  background-image:
    radial-gradient(ellipse,
      red 0%, black 60%,
      transparent 60%, transparent);
}

.midBottom {
  background-color: var(--black);
  height: 15px;
  width: 8px;
  border-radius: 0% 0% 0% 0%;
  margin: 0 auto;
}

.saberBottom {
  background-image: linear-gradient(to right,
      gray 0%, gray 12.5%,
      black 12.5%, black 25%,
      silver 37.5%, silver 37.5%,
      gray 37.5%, gray 62.5%,
      black 62.5%, gray 75%,
      silver 75%, silver 87.5%,
      gray 87.5%, gray 100%);
  background-color: var(--ice);
  height: 20px;
  width: 20px;
  border-radius: 0% 0% 35% 35%;
  margin: 0 auto;
}

.saberBlade {
  position: absolute;
  width: 13px;
  height: 400px;
  top: -400px;
  /* Position the blade at the top of .saberTop */
  left: 50%;
  /* Center the blade horizontally within .saberTop */
  transform: translateX(-50%);
  /* Center horizontally */
  background-color: var(--green);
  border-radius: 30% 30% 0 0;
  border-bottom: 0px;
  border-top: 6px;
  box-shadow: 0px 0px 10px, 0px 0px 2px inset;
  animation: glow 1.5s linear infinite;
  visibility: hidden;
  z-index: 1;
}
