:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0729f5;
    --yellow: #fafa10;
    --red: #ff0202;
    --ice: #4cf5ff;
    --orange: #ff7602;
    --gray: #716060;
    --silver: #c0c0c0 --bg: var(--white);
    --fontColor: var(--black);
}

.theoPG {
    position: relative;
    font-weight: 600;
    font-size: larger;
    font-family: 'Roboto';
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.theoPageNav {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: .8em;
    position: relative;
}

.theoPageNav a {
    color: var(--orange);
    font-weight: 600;
    text-decoration: none;
}

.theoPageNav a:hover {
    color: var(--blue);
}

.theoPageNav nav {
    position: relative;
    top: 0;
    left: 0;
    background: var(--blue);
    width: 100%;
}

.theoPageNav nav a {
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block;
}

.theoPageNav nav a:hover {
    background: #333;
    color: var(--green);
}

.theoTextBox {
    position: relative;
    left: 5%;
    right: 10%;
    top: 5%;
    width: 35%;
    border-style: solid;
    border-color: var(--green);
    background-image: url(../IMGS/Theo\ BG.png);
    background-size: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 10px;
    padding: 10px;
    word-wrap: break-word;
}


.theoPageText {
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 600;
    font-size: large;
    font-family: 'Roboto';
    color: var(--black);
    text-align: center;
}